<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav>
                        <a class="btn btn-sm btn-info" href="/admin">Admin</a>
                    </nav>
                </div>
            </div>
        </div><br>
    {% block title %}
    {% endblock %}
    </body>
</html>