{% extends 'base.html' %}
{% block title %}
    <div>
        <a class="btn btn-sm btn-success" href="{% url 'locations:adaugare' %}">Adauga Inregistrare</a>
        <div class="card">
            <table class="table" style="margin-top: 10px">
                <thead>
                    <tr>
                        <th>Index</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Active</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in location_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ item.city }}</td>
                            <td>{{ item.country }}</td>
                            <td>{{ item.active }}</td>
                            <td>
                                <a class="btn btn-sm btn-warning" href="{% url 'locations:modificare' item.id %}">Editare</a>
                                {% if item.active %}
                                    <a class="btn btn-sm btn-danger" href="{% url 'locations:stergere' item.id %}">Stergere</a>
                                {% else %}
                                    <a class="btn btn-sm btn-info" href="{% url 'locations:activare' item.id %}">Activare</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}