{% extends 'base.html' %}
{% block title %}
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Active</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in location_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.city }}</td>
                        <td>{{ item.country }}</td>
                        <td>{{ item.active }}</td>
                        <td>
                            <a class="btn btn-sm btn-success" href="{% url 'locations:adaugare' %}">Adauga</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}